.boton-carrito{
    margin-right: 20px;
    transition: ease-out .3s;
    border-radius: 7px;
    background-color: bisque;
    border: solid bisque;
}

.boton-carrito:hover{
   background-color: orange;
   border: solid orange;
   transition: all .3s;
}